{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <!-- About page text -->
    
    <h1 class="title">About</h1>
    <h4 class="heading">Victor Goncalves</h4>
    <p class="para">A type-1 diabetic Harvard student with a desire to conquer diabetes.</p>
    <div></div>
    <p class="para">Although this web application may not have the capacity to eradicate the disease, it can certainly help a user better control their blood sugars.</p>
    <div></div>
    <h4 class="heading">Instructions</h4>
    <div></div>
    <p class="para">For the web application to work, the user must have a Dexcom CGM (Continuous Glucose Monitor) and their preffered viewing device connected with their Dexcom account. (Ex: smart device connected with CGM and Dexcom throught Dexcom app)</p>
    <div></div>
    <p class="para">Click the analyze tab and input the days for which you want to view your blood sugars and hit submit.</p>
    <div></div>
    <p class="para">Log into your Dexcom account and view your selected data!</p>
    <div></div>
    <p class="para">Note: keep track of your carbohydrate intakes and insulin injections on Dexcom app to view them!</p>

{% endblock %}
